{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="page-content f4 mw8 center">
    {{ if .Params.show_title_as_headline }}<h1 class="f2 f1-m  fw5-ns mv4 lh-solid tracked-tight-ns">{{ .Title }}</h1>{{ end }}
    {{ .Content }}
  </section>
</main>
{{ end }}
