{{ define "main" }}
{{ $page := . }}
<main class="page-main pa4" role="main">
  <section class="page-content mw7 center">
    <article class="post-content pa0 ph4-l">
      <header class="post-header">
        {{ if .Params.show_post_image }}
        <div class="ph0 w-60-l w-100-m mw5-m w-100">
          <!--featured image for the leaf bundle-->
          {{- $images := $page.Resources.ByType "image" -}}
          {{ $leaf := $images.GetMatch "*feature*" }}
          {{- $hex := $images.GetMatch "*hex*" -}}
          {{- $thumbnail := cond (ne $hex nil) $hex $leaf -}}
          <div class="aspect-ratio aspect-ratio--1x1 {{ if (ne $hex nil) }}contain{{ else }}cover{{ end }} dim" {{ with $thumbnail }}style="background: url('{{ .RelPermalink | absURL }}') center center no-repeat" {{ end }}><a href="{{ .Permalink }}" class="w-100 absolute top-0 bottom-0"></a></div>
        </div>
        {{ end }}
        <h1 class="f1 lh-solid measure-narrow mb3 fw4">{{ .Title }}</h1> 
        {{ if .Params.subtitle }}<h4 class="f4 mt0 mb2 lh-title measure">{{ .Params.subtitle }}</h4>{{ end }}
        {{ if .Params.pronouns }}<h4 class="f4 mt0 mb1 lh-title measure">Pronouns: {{ .Params.pronouns }}</h4>{{ end }}
        {{ if .Params.show_author_byline }}<p class="f6 measure lh-copy mv1">{{ if .Params.author }}By {{ .Params.author }}{{ end }}{{ with .Params.categories }} in{{ range . }} <a href="{{ " categories/" | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}{{ end }}</p>{{ end }}
        {{ if .Params.show_post_date }}<p class="f7 db mv0 ttu">{{ .PublishDate.Format "January 2, 2006" }}</p>{{ end }}
        {{ if .Params.links }}
        <div class="pt1 pb2">
          {{ partial "shared/btn-links.html" . }}
        </div>
        {{ end }}
      </header>
      <section class="post-body f4 pt2 pb4">
        {{ .Content }}
      </section>
      <footer class="post-footer">
        {{ partial "shared/post-pagination.html" . }}
      </footer>
    </article>
    {{ if .Params.show_comments }}
    {{ partial "shared/comments.html" . }}
    {{ end }}
  </section>
</main>
{{ end }}
