// Override this file to add your own SCSS styling.
mark {
  background-color: #99D9DD;
  color: black;
}

.center-photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.button {
  background: #5D987B;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}
       